{{!-- 
  includes/footer-block.hbs

  footer
--}}

<div id="footer">
  <div id="footer_above"></div>
  <div id="footer_bottom">
    <div class="comment">Artevelde hogeschool - Hoogpoort 15 - 9000 gent</div>
    <div class="comment">Disclaimer</div>
  </div>
</div>