{{!-- 
  includes/projects-block.hbs

  load projects in
--}}



  <script type="text/x-handlebars-template" id="get_projects">
        \{{#each this}}
        <div id="project"> tada! \{{projectName}} </div>
        \{{/each}}
    </script> 
        <div id="projects_result">
        </div>
    <script>
      //find the json
      const projectsJSON = "test";//importProjects(); 
      const projectsTemplate = document.getElementById("get_projects").innerHTML;
      const projectsRender = Handlebars.compile(projectsTemplate);
      document.getElementById('projects_result').innerHTML = projectsRender(projectsJSON);
    </script> 
