{{!-- pages/projects.hbs --}}


{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
    <div id="content_container">
      <div id="projects">
          <h1>HIER KOMEN DE PROJECTEN</h1>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}
