{{!-- pages/pages/projects.hbs --}}

{{!-- 
{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{> includes/projects-block }}

  {{#*inline "content-block"}}
    <div id="content_container">
      <div id="projects">
       
 
        
        <div class="project">
          <img src="https://picsum.photos/300" />
          <div class="project-text"> 
            <p>eoaje</p>
          </div>
        </div>
 
        <div class="project">
          <img src="https://picsum.photos/300" />
          <div class="project-text"> 
            <p>eoaje</p>
          </div>
        </div>

        <div class="project">
          <img src="https://picsum.photos/300" />
          <div class="project-text"> 
            <p>eoaje</p>
          </div>
        </div>

        <div class="project">
          <img src="https://picsum.photos/300" />
          <div class="project-text"> 
            <p>eoaje</p>
          </div>
        </div>

        <div class="project">
          <img src="https://picsum.photos/300" />
          <div class="project-text"> 
            <p>eoaje</p>
          </div>
        </div>

        <div class="project">
          <img src="https://picsum.photos/300" />
          <div class="project-text"> 
            <p>eoaje</p>
          </div>
        </div>
        
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}
 --}}